# Ignored files

# Executables
create-module/hello/hello
gowiki/sample
gowiki/wiki

# Text files
gowiki/*.txt

# Test data
testdata/

# Visual Code
*.code-workspace

# Windows
Thumbs.db

# Mac
.DS_Store
